@import url(./__change-avatar/modal__change-avatar.css);
@import url(./__container/modal__container.css);
@import url(./__open-image/modal__open-image.css);
@import url(./__header/modal__header.css);
@import url(./__reset-button/modal__reset-button.css);
@import url(./__image/modal__image.css);
@import url(./__delete-card/modal__delete-card.css);
.modal {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s linear;
}

.modal.modal_type_image {
    background-color: rgba(0, 0, 0, .9);
}