.card__title {
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 29px;
    text-overflow: ellipsis;
    align-self: center;
    margin-bottom: auto;
    white-space: nowrap;
    overflow: hidden;
    color: #000000;
    max-width: 215px;
}