.profile__edit-button {
    width: 24px;
    height: 24px;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    background: url(../../../Images/edit-button.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    object-fit: contain;
    transition: 2s linear;
}

.profile__edit-button:hover {
    cursor: pointer;
    opacity: 0.5;
}

@media screen and (max-width: 889px) {
    .profile__edit-button {
        align-self: flex-start;
    }
}

@media screen and (max-width: 540px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
        align-self: flex-start;
    }
}