.profile__container {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;
}


@media screen and (max-width: 591px) {
    .profile__container {
        width: 282px;
        flex-direction: column;
        margin: auto;
    }
}