.profile__info {
    max-width: 415px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 889px) {
    .profile__info {
        /* flex-direction: row; */
        position: relative;
        width: 282px;
        margin: 30px auto 0 auto;
    }
}