.form__submit-button {
    width: 358px;
    height: 50px;
    background: #000000;
    border-radius: 2px;
    border: none;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    transition: 0.3s linear;
}

.form__submit-button:hover {
    cursor: pointer;
    opacity: 0.8;
     /*according to specifications in figma*/
}

@media screen and (max-width: 591px) {
    .form__submit-button {
        width: 238px;
        height: 46px;
        font-size: 14px;
        line-height: 17px;
    }
}