.modal__reset-button {
    width: 40px;
    height: 40px;
    background-image: url(../../../Images/close-button.svg);
    background-color: transparent;
    background-size: contain;
    border: none;
    position: absolute;
    top: -35px;
    right: -35px;
    padding: 0;
    transition: 0.3s linear;
}

.modal__reset-button:hover {
    cursor: pointer;
    opacity: 0.8;
}

@media screen and (max-width: 591px) {
    .modal__reset-button {
        width: 26px;
        height: 26px;
        top: -30px;
        right: -5px;
    }
}