.modal__header {
    max-width: 330px;
    color:#000000;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    margin: 0 auto 47px 0;
}

@media screen and (max-width: 591px) {
    .modal__header {
        max-width: 238px;
        font-size: 18px;
        line-height: 22px;
        margin: 0 auto 75px 0;
    }
}
