@import url(./__logo/header__logo.css);

.header {
    max-width: 880px;
    margin: 45px auto 40px auto;
    border-bottom: 1px solid #545454;
}

@media screen and (max-width: 886px) {
    .header { 
        max-width: 581px;
        margin: 28px auto 42px auto;
    }
}

@media screen and (max-width: 591px) {
    .header {
        max-width: 320px;
        /* width: 100%; */
        margin: 28px auto 42px auto;
    }
}