 .profile__button_edit-avatar {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
    border-color: transparent;
    background-size: 26px 26px;
    background-color: rgba(0, 0, 0, .8);
}