.profile__title {
    max-width: 415px;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
}

@media screen and (max-width: 889px) {
    .profile__title {
        width: calc(100% - (2 * 19px));
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        margin: 0 auto 36px auto;
    }
}