.modal__container {
    background-color: #FFFFFF;
    width: 430px;
    height: 330px;
    color: #000000;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: left;
    box-sizing: border-box;
    margin: 0;
    padding: 34px 36px;
    position: relative;
    top: 0;
    left: 0;
}

@media screen and (max-width: 591px) {
    .modal__container {
        width: 282px;
        height: 322px;
        padding: 25px 22px;
    }
}