.card__delete-button {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(../../../Images/delete-button.svg);
    padding: 0;
    width: 18px;
    height: 19px;
    top: 19px;
    right: 15px;
    border-style: none;
    transition: 0.3s linear;
}

.card__delete-button:hover {
    cursor: pointer;
    opacity: 0.8; 
}