@import url(./__image/card__image.css);
@import url(./__text/card__text.css);
@import url(./__title/card__title.css);
@import url(./__like-button/card__like-button.css);
@import url(./__delete-button/card__delete-button.css);
@import url(./__like-container/card__like-container.css);
@import url(./__like-button/_active/card__like-button_active.css);
@import url(./__like-counter/card__like-counter.css);
.card {
    position: relative;
    background-color: #ffffff;
    border-radius: 10px;
    max-width: 282px;
    height: 361px;
}