.form__input {
    max-width: 358px;
    height: 27px;
    padding: 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 14px;
    line-height: 17px;
}

@media screen and (max-width: 591px) {
    .form__input {
        max-width: 238px;
        height: 27px;
    }
}