.profile {
    max-width: 880px;
    margin: 0 auto 46px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.profile__container {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.profile__avatar {
    width: 120px;
    height: 120px;
    margin-left: 0;
    margin-right: 30px;
    border-radius: 50%;
}

.profile__info {
    max-width: 415px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile__text {
    color: #FFFFFF;
    font-style: normal;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.profile__name {
    max-width: 373px;
    font-size: 42px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    margin-bottom: 16px;
    margin-right: 18px;
}

.profile__title {
    max-width: 415px;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    margin: 0;
}

.profile__edit-button {
    width: 24px;
    height: 24px;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    background: url(../Images/edit-button.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    object-fit: contain;
    cursor: pointer;
}

.profile__add-button {
    width: 150px;
    height: 50px;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    background-color: transparent;
    background: url(../Images/add-button.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    cursor: pointer;
}