.footer {
    max-width: 880px;
    margin: 0 auto 60px;
}

.footer__copyright {
    max-width: 318px;
    color: #545454;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
}