@import url(./__input/form__input.css);
@import url(./__input/_type/form__input_type_name.css);
@import url(./__input/_type/form__input_type_title.css);
@import url(./__submit-button/form__submit-button.css);
@import url(./__input/_type/form__input_type_card-title.css);
@import url(./__input/_type/form__input_type_url.css);
@import url(./__input/_type/form__input_type_error.css);
@import url(./__input-error/form__input-error.css);
@import url(./__input-error/_visible/form__input-error_visible.css);
@import url(./__submit-button/_inactive/form__submit-button_inactive.css);
@import url(./__title/form__title.css);
.form {
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: 400;
}